{{include "header.html" .}}
<div class="blog">
    {{if .list.List}}
    <ul>
        {{range $key, $value := .list.List}}
        <li>
            <div><a href="/{{$value.TypeName}}/{{$value.Id}}.html">{{$value.Title}}</a></div>
            <p> {{$value.SeoDesc}}</p>
            <p> {{$value.UpdatedAt}}</p>
        </li>
        {{end}}
    </ul>
    <div class="layui-box layui-laypage layui-laypage-default">{{.page}}</div>
    {{else}}
    <blockquote class="layui-elem-quote">暂无数据</blockquote>
    {{end}}
</div>
{{if eq .name ``}}
<div class="ba"><a href="https://beian.miit.gov.cn/" target="_blank">湘ICP备2021013378号-1</a></div>
{{end}}
</body>
</html>